h9{color:black;

font-size:50px;
font-weight:bold


}
.aam{font-size:60px;
color:pink;

}
.dim{font-size:30px;
color:pink;

}
body{background-image:url(
	"Monalisa.gif");
	
	background-repeat:no-repeat;
	background-size:150px 200px;
	
	
	
}